  <div class="posts">
        <article class="card">
            <div class="card-header flex-row justify-space-between">
                <h2>
                    <a href="https://discord.com/invite/code">The Coding Den-Discord</a>
                  </h2>
                  <div class="card-body">
                    The Coding Den is a friendly community of coders focusing on helping new and experienced programmers alike.
                  </div>
            </div>
        </article>
    </div>
     <div class="posts">
        <article class="card">
            <div class="card-header flex-row justify-space-between">
                <h2>
                    <a href="https://stackoverflow.com/">Stack Overflow</a>
                  </h2>
                  <div class="card-body">
                   Stack Overflow is a question-and-answer website for programmers.
                  </div>
            </div>
        </article>
    </div> 
    <div class="posts">
        <article class="card">
            <div class="card-header flex-row justify-space-between">
                <h2>
                    <a href="https://forum.freecodecamp.org/">freeCodeCamp</a>
                  </h2>
                  <div class="card-body">
                   freeCodeCamp is a non-profit organization that consists of an interactive learning web platform, an online community forum, chat rooms, online publications and local organizations that intend to make learning software development accessible to anyone.
                  </div>
            </div>
        </article>
    </div>
    <div class="posts">
        <article class="card">
            <div class="card-header flex-row justify-space-between">
                <h2>
                    <a href="https://codepen.io/">CodePen</a>
                  </h2>
                  <div class="card-body">
                   CodePen is an online community for testing and showcasing user-created HTML, CSS and JavaScript code snippets. It functions as an online code editor and open-source learning environment, where developers can create code snippets, called "pens," and test them.
                  </div>
            </div>
        </article>
    </div>
    <div class="posts">
        <article class="card">
            <div class="card-header flex-row justify-space-between">
                <h2>
                    <a href="https://dev.to/">Dev Community</a>
                  </h2>
                  <div class="card-body">
                   DEV is a community of software developers helping one another out. DEV provides a place for developers to collaborate and network while learning and sharing their knowledge.
                  </div>
            </div>
        </article>
    </div>
    <div class="posts">
        <article class="card">
            <div class="card-header flex-row justify-space-between">
                <h2>
                    <a href="https://hashnode.com/">Hashnode</a>
                  </h2>
                  <div class="card-body">
                   Hashnode is an online community where developers share knowledge and grow their careers.
                  </div>
            </div>
        </article>
    </div>
    
     <div class="posts">
        <article class="card">
            <div class="card-header flex-row justify-space-between">
                <h2>
                    <a href="https://www.sitepoint.com/community/">SitPoint Community</a>
                  </h2>
                  <div class="card-body">
                   SitePoint community is a community for web designers and developers to discuss everything web development from HTML, CSS, JavaScript, PHP, Photoshop, SEO, and more.
                  </div>
            </div>
        </article>
    </div>